<!DOCTYPE html>
<html>
<head>
    <div th:replace="layout/head :: head"></div>
</head>
<body>
    <nav th:replace="layout/menu :: menuJacaranda"></nav>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">firstName</th>
                    <th scope="col">lastName</th>
                    <th scope="col">email</th>
                    <th scope="col">gender</th>
                    <th scope="col">dateOfBirth</th>
                    <th scope="col">idCompany</th>
                    <th scope="col">rol</th>
                    <th scope="col">password</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <a th:href="@{/addEmployee}" class="btn btn-success">Add </a>
                </td>
            
                <tr th:each="employee : ${pageableEmployee.content}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.gender}"></td>
                    <td th:text="${employee.dateOfBirth}"></td>
                    <td th:text="${employee.company.id}"></td>
                    <td th:text="${employee.rol}"></td>
                    <td th:text="${employee.password}"></td>
                    <td>
                        <a th:href="@{/updateEmployee(id=${employee.id})}" class="btn btn-warning">Update </a>
                    </td>
                    <td>
                        <a th:href="@{/deleteEmployee(id=${employee.id})}" class="btn btn-danger">Delete </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div>
            Total Items: <span th:text="${totalItems}"></span>
            <a th:if="${currentPage > 1}" th:href="@{/listEmployees?pageNum=1}">First</a>
            <a th:if="${currentPage > 1}" th:href="@{'/listEmployees?pageNum=' + ${currentPage - 1}}">Previous</a>
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/listEmployees?pageNum=' + ${i}}" th:text="${i}"></a>
                <span th:unless="${currentPage != i}">
                    <span th:text="${i}"></span>
                </span>
            </span>
            <a th:if="${currentPage < totalPages}" th:href="@{'/listEmployees?pageNum=' + ${currentPage + 1}}">Next</a>
            <a th:if="${currentPage < totalPages}" th:href="@{'/listEmployees?pageNum=' + ${totalPages}}">Last</a>
        </div>

    </div>

    <footer></footer>
    <div th:insert="layout/footer :: pie"></div>
</body>
</html>
