<!DOCTYPE html>
<html>
<div th:replace="layout/head :: head"></div>
<body>
<nav th:replace="layout/menu :: menuJacaranda"></nav>
	<div class="container">
		<br>					
		<form th:action="@{'/updateCompany/updated'}" th:object="${company}" method="post">
		    <input th:field="*{id}" id="id" name="id" type="hidden" th:value="*{id}">
		    <label>Name:</label>
		    <input th:field="*{name}" type="text" class="form-control">
		    <label>Address</label>
		    <input th:field="*{address}" type="text" class="form-control">
		    <label>City</label>
		    <input th:field="*{city}" type="text" class="form-control">
		    <br>
		    <button type="submit" class="btn btn-warning">Update Company</button>
		    <br>
		</form>
	</div>
<footer></footer>
<div th:insert="layout/footer :: pie"></div>
</body>
</html>


